<!DOCTYPE html>
<html>
  <head>


      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="../public/assets/bootstrap/css/bootstrap.min.css">
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
      <link rel="stylesheet" href="../public/assets/css/alert-bar.css">
      <link rel="stylesheet" href="../public/assets/css/beautiful-danger-alert.css">
      <link rel="stylesheet" href="../public/assets/css/Pretty-Search-Form.css">
      <link rel="stylesheet" href="../public/assets/css/user-1.css">
      <link rel="stylesheet" href="../public/assets/css/user.css">
      <link rel="stylesheet" href="../public/assets/css/search_bar_with_parameters.css">
      <link rel="stylesheet" href="../public/assets/css/Social-Icons-1.css">
      <link rel="stylesheet" href="../public/assets/css/Social-Icons.css">
  </head>
  <body>
    {{{body}}}
  </body>
</html>
