

<body style="background-color:rgb(116,18,18);">
<div data-bs-parallax-bg="true" style="height:437px;background-image:url(&quot;assets/img/9a27c500a1672fc927c9be1f9aa3c55f.jpg&quot;);background-position:center;background-size:cover;">
    <header style="background-image:url(&quot;none&quot;);margin:0px;height:auto;">
        <div class="alert alert-danger beautiful" role="alert" style="width:auto;padding:0px;margin:0px;">
            <strong>URGENT ALERT</strong> Alerts will pop up here, this bar will not be visible if no alert exists.
        </div>
    </header>
</div>
<div class="container">
    <ul class="nav nav-pills categories" style="height:auto;">
        <li class="active" style="margin:0px;"><a href="#">Home </a></li>
        <li><a href="#" style="color:rgb(255,236,100);">Evaluation </a></li>
        <li><a href="#" style="color:rgb(255,236,100);">My Recruits</a></li>
        <li><a href="#" style="color:#ffec64;">My Schools</a></li>
        <li><a href="#" style="color:#ffec64;">War Board</a></li>
        <li><a href="#" style="color:#ffec64;">Offers </a></li>
        <li><a href="#" style="color:#ffec64;">Committed </a></li>
        <li><a href="#" style="color:#ffec64;">Database </a></li>
        <li><a href="#" style="color:#ffec64;">My Media</a></li>
        <li><a href="#" style="color:#ffec64;">My Schedule</a></li>
        <li><a href="#" style="color:#ffec64;">My Travel</a></li>
        <li><a href="#" style="color:#ffec64;">Coaches </a></li>
        <li><a href="#" style="color:rgb(255,236,100);">Graphics </a></li>
    </ul>
    <div class="row">
        <div class="col-md-12">
            <form class="search-form" style="margin:0px;">
                <div class="input-group" style="height:42px;width:auto;">
                    <div class="input-group-addon"><span><i class="glyphicon glyphicon-search" style="color:rgb(255,236,100);"></i></span></div>
                    <input class="form-control" type="text" placeholder="Search for Players or Schools" style="height:42px;">
                    <div class="input-group-btn">
                        <button class="btn btn-default" type="button" style="color:rgb(255,236,100);background-color:rgb(116,18,18);">Search </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="container post">
    <div class="row">
        <div class="col-md-6 post-title" style="width:187px;height:auto;padding:0px;">
            <div class="row" style="width:186px;margin:0px;">
                <div class="col-md-12" style="padding:0px;"><img src="assets/img/matt.png" style="width:168px;height:auto;"></div>
                <div class="col-md-12" style="padding:0px;">
                    <p style="font-size:17px;height:24px;width:186px;margin:0px;">Matt Bergeron</p>
                </div>
                <div class="col-md-12" style="padding:0px;height:20px;">
                    <p style="height:auto;width:auto;font-size:14px;">Offensive Quality Control</p>
                </div>
                <div class="col-md-12" style="height:33px;">
                    <p style="height:auto;width:auto;font-size:14px;">225-223-2296 </p>
                </div>
                <div class="col-md-12" style="color:rgb(234,231,231);height:auto;">
                    <p style="height:auto;width:auto;font-size:14px;">RECRUITING AREA:</p>
                    <p style="height:auto;width:auto;font-size:14px;color:rgb(247,247,247);margin:0px;">Louisiana, Los Angeles, North Dallas</p>
                </div>
                <div class="col-md-12" style="color:rgb(234,231,231);height:auto;">
                    <button class="btn btn-default btn-xs" type="button">Edit Profile</button>
                    <button class="btn btn-default btn-xs" type="button" style="width:154.625px;">CHECK IN</button>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-md-offset-0 post-body" style="width:782px;">
            <figure>
                <figcaption style="color:rgb(255,236,100);font-size:73px;">Sun Devil News Feed</figcaption>
            </figure>
            <p style="height:auto;width:auto;font-size:23px;color:rgb(88,87,80);margin:0px;">LATEST EVENTS</p>
            <p style="height:auto;width:auto;font-size:20px;color:rgb(255,236,100);margin:0px;">BILLY NAPIER: offered Test Quarterback</p>
            <p style="height:auto;width:auto;font-size:20px;color:rgb(255,236,100);margin:0px;">NEW COMMITMENT: 2018 QB Parker Adamson</p>
            <p style="height:auto;width:auto;font-size:20px;color:rgb(255,236,100);margin:0px;">WAR BOARD UPDATE: Updated 5/17</p>
            <p style="height:auto;width:auto;font-size:20px;color:rgb(255,236,100);margin:0px;">TIM CASSIDY: Meeting 11 am Monday 5/14</p>
            <p style="height:auto;width:auto;font-size:20px;color:rgb(255,236,100);margin:0px;">GRAPHICS: New camp graphics, send to your guys</p>
        </div>
    </div>
</div>

<script src="assets/js/jquery.min.js"></script>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
<script src="assets/js/bs-animation.js"></script>
</body>
